<!DOCTYPE html>
    <html>
        <head>
            <title>DashBoard</title>
            <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
            <link rel=stylesheet type="text/css" href="../stylesheets/dashboard.css">
        </head>
        <body style=" margin:8px;">

            <div class="box-group">
                <div id="count" class="info-box">
                    <div id="number">Loading</div>
                </div>
    
                <div id="pie" class="info-box">
                    
                </div>

            </div>

            <div class="box-group">
                <div id="histogram" class="info-box">
                
                </div>
                <div id="bar" class="info-box">
                    
                </div>

            </div>
            
           
            
            
           
        </body>
        <script src="../javascripts/dashBoradPaint.js"></script>
     </html>
     